* {
    font-family: "Playwrite BE WAL", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.header {
    background-color: #f7a3c3;
    height: 60px;
}

.avatar {
    width: 100px;
    height: 130px;
    border-radius: 70%;
    margin-top: -50px;
    border: 5px solid white;
}

.container {
    padding: 20px;
}

h1 {
    margin: 10px 0;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    color: #777;
    margin: 20px 0;
}

button {
    background-color: #f7a3c3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e01261;
}